* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #5e5e5e;
}

header {
    font-family: 'Roboto', sans-serif;
}

.header_top {
    background-color: #303030;
}

.header_btn {
    float: right;
    line-height: 36px;
    color: #1b1b1b;
    background-color: #ffc222;
    padding: 5px 20px 4px 50px;
    font-size: 16px;
    display: block;
    position: relative;
}

.header_btn:before {
    content: "\f0b1";
    font-family: 'icomoon';
    position: absolute;
    left: 22px;
    color: #1b1b1b;
}

.header_contacts:after {
    content: '';
    clear: both;
    display: block;
}

.header_phone,
.header_email {
    color: #cbcacd;
    letter-spacing: 0.25px;
    line-height: 45px;
    position: relative;
}

.header_phone {
    padding-left: 20px;
    padding-right: 30px;
}

.header_phone:before {
    content: "\f095";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #ffc222;
}

.header_email {
    padding-left: 24px;
}

.header_email:before {
    content: "\f003";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #ffc222;
}

.header_content {
    padding: 34px 0px 23px;
}

.header_content-inner {
    display: flex;
    justify-content: space-between;
}

.menu li {
    display: inline-block;
}

.menu a {
    color: #323232;
    line-height: 36px;
    border: 1px solid transparent;
    padding: 0px 16px;
    transition: all .3s;
}

.menu a:hover {
    border-color: #ffc222;
}

.menu li + li {
    padding-left: 10px;
}

#modal {
    display: none;
}

.slider {
    background-image: url(../img/slider-fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

.slider_item-content {
    text-align: center;
    padding-top: 110px;
    max-width: 665px;
    margin: 0 auto;
}

.slider_title {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-bottom: 22px;
    font-family: 'Roboto', sans-serif;
}

.slider_text {
    line-height: 24px;
    font-size: 18px;
    color: #d3d2d2;
    margin: 50px;
}

.default-btn {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 8px 30px 8px 24px;
    border: 1px solid #ffc222;
    border-right-width: 20px;
    position: relative;
    z-index: 2;
    outline: none;
}

.default-btn:after {
    content: "\f054";
    font-family: 'icomoon';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -15px;
}

.slider_inner {
    position: relative;
}

.slick-btn {
    position: absolute;
    top: 70%;
    z-index: 3;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    cursor: pointer;
    outline: none;
    background-color: transparent;
}

.slick-btn.slick_disabled {
    cursor: default;
}

.slick-btn:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'icomoon';
    color: #fff;
}

.slick-next:before {
    content: "\f054";
}

.slick-prev:before {
    content: "\f053";
}

.slick-next {
    right: 0;
}

.slick-prev {
    left: 0
}

.services {
    padding: 50px 0px 30px;
}

.services_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.services_title-box,
.form_title-box {
    max-width: 520px;
    padding-left: 140px;
    position: relative;
}

.services_title-box:before,
.form_title-box:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #ffc222;
    left: 0;
    top: 11px;
}

.services_title,
.form_title {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    color: #212020;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}

.services_text,
.form_text {
    letter-spacing: 0.1px;
}

.services_btn a {
    color: #373637;
    line-height: 24px;
    letter-spacing: 0.1px;
    padding: 5px 38px;
    border: 3px solid #e6e6e6;
}

.services_items {
    display: flex;
    justify-content: space-between;
}

.services_item {
    max-width: 360px;
    text-align: center;
    padding: 30px 0px 80px;
    position: relative;
    min-height: 375px;
    background-color: #f9f9f9;
    box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
}

.services_item-title {
    color: #212020;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 24px 0;
}

.services_item-text {
    letter-spacing: 0.1px;
    padding: 0px 30px 30px;
}

.services_item-btn {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
}

.services_item-btn .default-btn {
    color: #373636;
}

.services_item-btn .default-btn:after {
    color: #fff;
}

.services_item-link {
    color: #050505;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #050505;
    margin-right: 60px;
}

.about {
    background-image: url(../img/about-fon.jpg);
    background-size: cover;
    background-position: center;
    min-height: 300px;
    background-repeat: no-repeat;
    padding: 25px 0px 45px;
}

.about_inner {
    max-width: 545px;
}

.about_title {
    padding: 10px 0px 25px;
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.about_text {
    margin-bottom: 30px;
    letter-spacing: 0.1px;
    line-height: 24px;
    color: #d3d2d2;
}

.about_btn.default-btn:after {
    color: #000;
}

.form {
    padding-top: 30px;
}

.form_inner {
    padding-bottom: 40px;
    background-image: url(../img/form-fon.png);
    min-height: 460px;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.form_box {
    max-width: 850px;
    padding-top: 45px;
}

.form_box-inner {
    display: flex;
    justify-content: space-between;
}

.form_box-left {
    max-width: 260px;
    width: 100%;
}

.form_box-right {
    max-width: 555px;
    width: 100%;
}

.form_box-inner label,
.form_box-inner input,
.form_box-inner textarea {
    display: block;
    width: 100%;
}

.form_box-inner label {
    line-height: 36px;
    color: #282828;
    font-family: 'Roboto', sans-serif;
}

.form_box-inner input {
    margin-bottom: 8px;
    outline: none;
    height: 40px;
    border: 1px solid #e6e6e6;
    padding: 0px 10px;
}

.form_box-inner select {
    outline: none;
    padding-left: 17px;
}

.form_box-inner .jq-selectbox.jqselect {
    display: block;
    width: 100%;
}

.form_box-inner .jq-selectbox__select {
    height: 40px;
    border: 1px solid #e6e6e6;
    padding-left: 17px;
}

.form_box-inner .jq-selectbox__trigger-arrow:before {
    content: "\f054";
    font-family: 'icomoon';
    position: absolute;
    right: 17px;
    top: 0;
    transform: rotate(90deg);
}

.form_box-inner .jq-selectbox__dropdown {
    width: 100%;
    margin: 2px 0 0;
    padding: 0;
    border: 1px solid #E6E6E6;
    background: #FFF;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
}

.form_box-inner textarea {
    outline: none;
    border: 1px solid #E6E6E6;
    padding: 10px;
    height: 308px;
}

.form_box-inner .jq-selectbox li {
    min-height: 18px;
    padding: 5px 17px 6px;
    color: #231F20;
}

.form_box-inner .jq-selectbox li.selected {
    background-color: #A3ABB1;
    color: #FFF;
}

.form_box-inner .jq-selectbox li:hover {
    background-color: #ffc222;
    color: #FFF;
}

.form_box-inner .jq-selectbox li.disabled {
    color: #AAA;
}

.form_box-inner .jq-selectbox li.disabled:hover {
    background: none;
}

.form_box-inner .jq-selectbox li.optgroup {
    font-weight: bold;
}

.form_box-inner .jq-selectbox li.optgroup:hover {
    background: none;
    color: #231F20;
    cursor: default;
}

.form_box-inner .jq-selectbox li.option {
    padding-left: 25px;
}

.form_box-inner textarea {
    outline: none;
    border: 1px solid #e6e6e6;
    padding: 10px;
    height: 208px;
    resize: none;
    margin-bottom: 40px;
}

.form_box-inner button {
    background-color: transparent;
    color: #282828;
    float: right;
}

.advantages {
    padding: 55px 0px 40px;
    background-image: url(../img/adv-fon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 285px;
    background-size: cover;
}

.advantages_inner {
    color: #FFFFFF;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.advantages_item {
    max-width: 360px;
    padding: 0px 20px;
}

.advantages_title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 60px 0px 15px;
    position: relative;
}

.advantages_title:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid #ffc222;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.advantages_title:after {
    content: "\f00c";
    font-family: 'icomoon';
    font-size: 14px;
    position: absolute;
    top: 9px;
    left: 50%;
    transform: translateX(-50%);
}

.advantages_text {
    line-height: 24px;
    color: #d3d2d2;
    letter-spacing: 0.1px;
}
